[Desktop Entry]
Version=1.0
Name=CASTLEE Core
Comment=CASTLEE P2P Cryptocurrency
Comment[fr]=CASTLEE, monnaie virtuelle cryptographique pair à pair
Comment[tr]=CASTLEE, eşten eşe kriptografik sanal para birimi
Exec=castle-qt %u
Terminal=false
Type=Application
Icon=castle128
MimeType=x-scheme-handler/castle;
Categories=Office;Finance;
StartupWMClass=Castle-qt
